@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mb-3">
    <h1>Welcome!</h1>
</div>

<div class="mb-3">
    <p>Hello! This is a super simple web app I created to learn how to use C.R.U.D operations! You're able to add, update, and delete employees from the employee list. Feel free to test the functionality of the service!</p>

    <p>Throughout this project I was able to gain a better understanding of bootstrap classes and how it's similar to CSS but much more efficient!</p>

    <p>I learned a lot about SQL Server and its Management Studio. I also learned how to connect a database to my ASP.NET project! Towards the end of this project I learned how to upload and host this web app on Azure Portal.</p>

    <p>This app is also on my GitHub if you're interested in downloading the source code! Visit my github <a href="https://github.com/JustinR77">here</a>!</p>
</div>

<div class="mb-3">
    <h2>THANKS FOR VISITING!</h2>
</div>
